.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.App.default {
    animation: pulse 20s infinite;
}
.App.joy {
    background-color: blue;
}

@keyframes pulse {
  0% {
    background-color: #ff9999;
  }
  25% {
    background-color:#4d0039;
  }
  50% {
    background-color: #3366ff;
  }
  75% {
    background-color: #008000;
  }
  100% {    
    background-color: #ff9999;
  }
}